<footer class="container text-center mt-5 mb-2 fixed-bottom">
<footer class="container text-center mt-5 mb-2 fixed-bottom">
    <p class="text-muted"></p>
    <small>
        &copy; {{ 'now'|date('Y')}} <span class="text-danger">&hearts;</span> <a href="">mathieu-fontaine.fr</a> 
    </small>
</footer>