<div id="wait-overlay" style="position:fixed; top:0%; left: 0%; z-index:2000; width:100%; height:100%; display: none; opacity: 0.5; background:#000">
	<table width=100% height=100%>
		<tr>
			<td width=100% height=100% valign=center align=center>
				<div style="left:49%" class="center-align preloader-wrapper big active">
					<div style="left:49%" class="center-align preloader-wrapper big active">
                        <div class="circle">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</td>
		</tr>
	</table>
</div>
<footer class="container text-center mt-5 mb-2 fixed-bottom">
<footer class="container text-center mt-5 mb-2 fixed-bottom">
    <p class="text-muted"></p>
    <small>
        &copy; {{ 'now'|date('Y')}} <span class="text-danger">&hearts;</span> <a href="">mathieu-fontaine.fr</a> 
    </small>
</footer>